@font-face {
    font-family: 'Helvetica1';
    src: url('../font/HelveticaNowMicro-Bold.otf') format('otf');
    src: url('../font/HelveticaNowMicro-Medium.otf') format('otf');
}

$Helvetica: 'Helvetica1',
sans-serif;